<article>
    <h3 id="serverLibraries">Server Libraries</h3>
        Below is a list of the main server side libraries used in this template, and links to where you can learn more about them.<br/>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead><tr class="success"><td>Library</td><td>Description</td></tr></thead>
            <tbody>
                <!--Need to add -> live-server, npm-flatten, concurrently, typescript, and typings -->
                <tr><td><a href="https://cli.angular.io/">Angular CLI</a></td><td>Command line interface for Angular</td></tr>
                <tr><td><a href="https://palantir.github.io/tslint/">TSLint</a></td><td>Static analysis tool (linter) that checks TypeScript code for readability, maintainability, and functionality errors.</td></tr>
                <tr><td><a href="http://gulpjs.com/">Gulp</a></td><td>Task runner focused on stream based workflows.  Smaller libraries are used with Gulp such as del, merge2, minify-css, sourcemaps, typescript, uglify, and util.  These libraries all work together to build powerful workflows and automations.  This should be installed globally (npm install -g).</td></tr>
                <tr><td><a href="http://jasmine.github.io/2.4/introduction.html">Jasmine</a></td><td>JavaScript unit testing</td></tr>
                <tr><td><a href="https://karma-runner.github.io/0.13/index.html">Karma</a></td><td>Test runner used to tie any unit test tool (Jasmine in this template) to different browsers, and automate testing with any task runner (Gulp in this template)</td></tr>
                <tr><td><a href="https://nodejs.org/en/">NodeJS</a></td><td>Lightweight and efficient, cross platform, event-driven, non-blocking server engine, and includes a package manager (NPM).  Node must be installed, and packaged updated with "npm install" before using this template.  All above listed server libraries use Node for their engine making them all cross platform.</td></tr>
                <tr><td><a href="https://www.protractortest.org/#/">Protractor</a></td><td>End to end testing for Angular</td></tr>
                <tr><td><a href="https://www.typescriptlang.org/">TypeScript</a></td><td>Types superset of JavaScript that compiles to JavaScript.  This should be installed globally (npm install -g).</td></tr>
                <tr><td><a href="https://webpack.js.org/">WebPack</a></td><td>Script compiling, minification, uglification, and bundling</td></tr>
            </tbody>
        </table>
    </div>
	*Note: Gulp has been removed from this project as it was no longer needed after Webpack and Angular CLI.  Gulp is however a valuable tool for task scripting so has been left on this list<br/>
</article>
