<div>
    <h3>PDF Generation Demo</h3>
    This button demonstrates dynamic creation of a PDF document supporting headers, footers, page breaks, images (base64 only), tables, columns, lists, backgrounds, margins, orientation, etc.  PDF generation has been tested on IE, Edge, Chrome, Firefox, and iOS.  Safari and Android testing are still needed.<br/><br/>
    <button type="button" class="btn btn-primary" (click)="viewPdf('overview')">View PDF</button>
    <br/>
    <h3>Modal Generation Demo</h3>
    This button demonstrates dynamic creation of a Modal dialog box using standard Bootstrap control. Additional inputs and outputs or service connections can be used with this model as needed for form support or other more advanced usage.<br/><br/>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="viewModal()">View Modal</button>
    <app-modal-demo [id]="'myModal'" [active]="_modalActive"></app-modal-demo>
</div>