<nav class="animated slideInLeft w-100">
    <ul class="nav nav-pills d-flex flex-column align-items-start w-100">
        <li class="nav-item"><a class="nav-link" [class.active]="currentPage('/help') || currentPage('/help/topic-gettingStarted')" [routerLink]="['topic-gettingStarted']">Getting Started</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="currentPage('/help/topic-serverLibraries')" [routerLink]="['topic-serverLibraries']">Server Libraries</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="currentPage('/help/topic-clientLibraries')" [routerLink]="['topic-clientLibraries']">Client Libraries</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="currentPage('/help/topic-npmCommands')" [routerLink]="['topic-npmCommands']">NPM & NG Commands</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="currentPage('/help/topic-vsCodeCommands')" [routerLink]="['topic-vsCodeCommands']">VS Code Commands</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="currentPage('/help/topic-gitBranching')" [routerLink]="['topic-gitBranching']">Git Branching</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="currentPage('/help/topic-vstsDeploy')" [routerLink]="['topic-vstsDeploy']">VSTS Deployment</a></li>
    </ul>
</nav>
