<div class="d-inline-flex">
    <div>
        <div class='card'>
            <div class='card-body'>
                <h3 class="card-title">React Component Embedding</h3>
                <div class="card-text indent">
                    <div #reactContainer></div>
                </div>
            </div>
        </div>
        <div class='card'>
            <div class='card-body'>
                <h3 class="card-title">Web Worker Demo</h3>
                <div class="card-text indent">
                    <app-web-worker-demo></app-web-worker-demo>
                </div>
            </div>
        </div>
        <div class='card'>
            <div class='card-body'>
                <h3 class="card-title">PDF Generation Demo</h3>
                <div class="card-text indent">
                    <app-pdf-demo></app-pdf-demo>
                </div>
            </div>
        </div>
        <div class='card'>
            <div class='card-body'>
                <h3 class="card-title">Blockchain Demo</h3>
                <div class="card-text indent">
                    <app-blockchain-demo></app-blockchain-demo>
                </div>
            </div>
        </div>
        <div class='card'>
            <div class='card-body'>
                <h3 class="card-title">Modal Generation Demo</h3>
                <div class="card-text indent">
                    This button demonstrates dynamic creation of a Modal dialog box using standard Bootstrap control. Additional inputs and outputs or service connections can be used with this model as needed for form support or other more advanced usage.<br/><br/>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="viewModal()">View Modal</button>
                    <app-modal-demo [id]="'myModal'" [active]="_modalActive"></app-modal-demo>
                </div>
            </div>
        </div>
    </div>
    <div style='margin-left: 15px;'>
        <div class='card'>
            <div class='card-body' style='height: 85vh;'>
                <h3 class="card-title">Chat Bot Demo</h3>
                <iframe src='https://webchat.botframework.com/embed/pg-bot-test?s=4glMv3hoVEE.CmERQBL7SU5fnnLgT2p_oOQRC_wAq0KRZEML0gbYtLI' style='min-width: 400px; width: 100%; height: 95%;'></iframe>
            </div>
        </div>
    </div>
</div>