@charset "UTF-8";
/*
 Place CSS in Angular component styleUrls: [] when not re-used globally
 This helps ensure component specific CSS moves with the component
    and is removed from the project if the component is removed
*/
.animated {
    /* Keep in mind smartphones and tables are usually not capable of complex animations like cubic-bezier */
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
@media (min-width: 768px) {
    main {
        padding-top: 80px;
    }
}