.s25_1 { opacity: 0; } /* laundry room */
.t84 { opacity: 0; } /* basement text */
.form-label { margin-bottom: 0px; }
.btn-active {
    background-color: CornflowerBlue;
}
.btn-group {
    margin-bottom: 10px;
}
.btn-group-xs { margin-bottom: 0; }
.dimzone { opacity: 0; } /* Blue room overlay */
.NoOptionsBoundingBox { opacity: 0; }
.wood {
    color: Tomato;
    fill: Tomato;
}
.tile {
    color: LightGreen;
    fill: LightGreen;
}
.carpet {
    color: LightSkyBlue ;
    fill: LightSkyBlue;
}
.table-zones {
    font-size: 80%;
    margin-bottom: 10px;
}
