<div *ngIf="isActive" class="animated slideInRight">
    <h2>Address</h2>
    <form (ngSubmit)="saveForm()" #addressForm="ngForm" novalidate>
        <div class="form-group" [class.has-error]="nameControl.invalid && nameControl.dirty">
            <label class="control-label">Name</label>
            <input type="text" name="name" [(ngModel)]="name" #nameControl="ngModel" class="form-control" placeholder="Enter name (optional)" pattern="[A-Z]{1}[a-z]+(?:[\s-][a-zA-Z]+)*">
            <div [hidden]="nameControl.valid || nameControl.pristine" class="alert alert-danger">
                Name only allows for alpha characters.  First word must be capatalized.
            </div>
        </div>
        <div class="form-group" [class.has-error]="streetNumberControl.invalid && streetNumberControl.dirty">
            <label class="control-label">Street Number</label>
            <input type="number" name="streetNumber" [(ngModel)]="streetNumber" #streetNumberControl="ngModel" class="form-control" placeholder="Enter street house #" required min="1" max="99999">
            <div [hidden]="streetNumberControl.valid || streetNumberControl.pristine" class="alert alert-danger">
                Street number is invalid and must be between 1 and 99999
            </div>
        </div>
        <div class="form-group" [class.has-error]="streetNameControl.invalid && streetNameControl.dirty">
            <label class="control-label">Street Name</label>
            <input type="text" name="streetName" [(ngModel)]="streetName" #streetNameControl="ngModel" class="form-control" required placeholder="Enter street name" pattern="[A-Z]{1}[a-z]+(?:[\s-][a-zA-Z]+)*">
            <div [hidden]="streetNameControl.valid || streetNameControl.pristine" class="alert alert-danger">
                Street name only allows for alpha characters.  First word must be capatalized.
            </div>
        </div>
        <div class="form-group" [class.has-error]="cityControl.invalid && cityControl.dirty">
            <label class="control-label">City</label>
            <input type="text" name="city" [(ngModel)]="city" #cityControl="ngModel" class="form-control" required placeholder="Enter city name" pattern="[A-Z]{1}[a-z]+(?:[\s-][a-zA-Z]+)*">
            <div [hidden]="cityControl.valid || cityControl.pristine" class="alert alert-danger">
                City is invalid.  First word must be capatalized.
            </div>
        </div>
        <div class="form-group" [class.has-error]="stateControl.invalid && stateControl.dirty">
            <label class="control-label">State</label>
            <select name="state" [ngModel]="state" (change)="onUpdateState($event)" #stateControl="ngModel" class="form-control">
                <option *ngFor="let s of states" [value]='s.abbreviation'>{{s.name}}</option>
            </select>
            <div [hidden]="stateControl.valid || stateControl.pristine" class="alert alert-danger">
                State is required
            </div>
        </div>
        <div class="form-group" [class.has-error]="zipCodeControl.invalid && zipCodeControl.dirty">
            <label class="control-label">Zip Code</label>
            <input type="text" name="zipCode" [(ngModel)]="zipCode" #zipCodeControl="ngModel" class="form-control" required placeholder="Enter zip code" pattern="[0-9]{5}(?:-[0-9]{4})?">
            <div [hidden]="zipCodeControl.valid || zipCodeControl.pristine" class="alert alert-danger">
                Zip code must be in the format ##### or #####-####
            </div>
        </div>
    </form>
</div>