<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">Angular Template</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['main']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['demos/drag']">Drag</a>
      </li>
      <li *ngIf='isConnected && width > 768' class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['demos/editor']">Editor</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['demos/floor']">Floor</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['demos/graph']">Graph</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['demos/other']">Other</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['user']">User</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['help']">Help</a>
      </li>
      <li *ngIf="authenticated" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['main/token']">Token</a>
      </li>
    </ul>
    <div *ngIf="authenticated" class="nav navbar-right hidden-xs hidden-sm text-light">
      {{ claims.name }}
    </div>
    &nbsp;&nbsp;
    <span *ngIf='isConnected' class='online'>ONLINE</span>
    <span *ngIf='!isConnected' class='offline'>OFFLINE</span>
    &nbsp;&nbsp;
    <form class="navbar-form navbar-right">
      <input *ngIf="!authenticated" (click)="login()" type="button" class="btn btn-primary" value="Login">
      <input *ngIf="authenticated" (click)="logout()" type="button" class="btn sm btn-secondary" value="Logout">
    </form>
  </div>
</nav>