<div *ngIf="formAddress" class="animated slideInRight">
    <h3>Address</h3>
    <form #addressForm="ngForm" novalidate>
        <div [class.has-error]="streetNumberControl.invalid && streetNumberControl.dirty">
            <label class="control-label">Street Number</label>
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="fa fa-map-marker fa-fw"></i></span>
	            <input type="text" name="streetNumber" [(ngModel)]="formAddress.streetNumber" #streetNumberControl="ngModel" class="form-control" [class.form-control-sm]="shrink" required placeholder="Enter street number">
            </div>
	        <div [hidden]="streetNumberControl.valid || streetNumberControl.pristine" class="alert alert-danger">
                No pattern matching currently enforced
            </div>
        </div>
        <div [class.has-error]="streetNameControl.invalid && streetNameControl.dirty">
            <label class="control-label">Street Name</label>
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="fa fa-map-marker fa-fw"></i></span>
	            <input type="text" name="streetName" [(ngModel)]="formAddress.streetName" #streetNameControl="ngModel" class="form-control" [class.form-control-sm]="shrink" required placeholder="Enter street name">
            </div>
	        <div [hidden]="streetNameControl.valid || streetNameControl.pristine" class="alert alert-danger">
                No pattern matching currently enforced
            </div>
        </div>
        <div [class.has-error]="cityControl.invalid && cityControl.dirty">
            <label class="control-label">City</label>
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="fa fa-compass fa-fw"></i></span>
	            <input type="text" name="city" [(ngModel)]="formAddress.city" #cityControl="ngModel" class="form-control" [class.form-control-sm]="shrink" required placeholder="Enter city name" pattern="[A-Z]{1}[a-z]+(?:[\s-][a-zA-Z]+)*">
            </div>
			<div [hidden]="cityControl.valid || cityControl.pristine" class="alert alert-danger">
                City is invalid.  First word must be capatalized.
            </div>
        </div>
        <div [class.has-error]="stateControl.invalid && stateControl.dirty">
            <label class="control-label">State</label>
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="fa fa-plane fa-fw"></i></span>
				<select name="state" [ngModel]="formAddress.state" (change)="onUpdateState($event)" #stateControl="ngModel" class="form-control" [class.form-control-sm]="shrink">
					<option *ngFor="let s of states" [value]='s.abbreviation'>{{s.name}}</option>
				</select>
            </div>
            <div [hidden]="stateControl.valid || stateControl.pristine" class="alert alert-danger">
                State is required
            </div>
        </div>
        <div [class.has-error]="zipCodeControl.invalid && zipCodeControl.dirty">
            <label class="control-label">Zip Code</label>
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="fa fa-globe fa-fw"></i></span>
	            <input type="text" name="zip" [(ngModel)]="formAddress.zipCode" #zipCodeControl="ngModel" class="form-control" [class.form-control-sm]="shrink" required placeholder="Enter zip code" pattern="[0-9]{5}(?:-[0-9]{4})?">
            </div>
	        <div [hidden]="zipCodeControl.valid || zipCodeControl.pristine" class="alert alert-danger">
                Zip code must be in the format ##### or #####-####
            </div>
        </div>
    </form>
    <!-- State Change Toast Message -->
    <div class="toast-container position-absolute top-0 end-0" style="z-index: 5">
        <div id="addressFormToast" class="toast hide" role="alert" data-bs-animation=true data-bs-delay=1000 aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">{{toastHeader}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            {{toastBody}}
          </div>
        </div>
    </div>
</div>
