<div class="panel panel-default animated slideInUp">
	<div class="panel-heading">
		<a href="#tokenView" data-toggle="collapse"><h4>{{token.displayName}}</h4></a>
	</div>
	<div class="panel-collapse collapse in" id="tokenView">
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="row">
					<div class="col-xs-3">
						<label for="aud" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Audience of the token. When the token is issued to a client application, the audience is the client_id of the client.">Audience ID</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="aud" class="form-control" disabled [value]="token.aud">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="iss" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Identifies the token issuer">Issuer</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="iss" class="form-control" disabled [value]="token.iss">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="iat" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Issued at time. The time when the JWT was issued. The time is represented as the number of seconds from January 1, 1970 (1970-01-01T0:0:0Z) UTC until the time the token was issued.">Issued At</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="iat" class="form-control" disabled [value]="getDateString(token.iat)">
					</div>
				</div>
				<div class="row" *ngIf="token.nbf">
					<div class="col-xs-3">
						<label for="nbf" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Not before time. The time when the token becomes effective. For the token to be valid, the current date/time must be greater than or equal to the Nbf value. The time is represented as the number of seconds from January 1, 1970 (1970-01-01T0:0:0Z) UTC until the time the token was issued.">Not Valid Before</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="nbf" class="form-control" disabled [value]="getDateString(token.nbf)">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="exp" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Expiration time. The time when the token expires. For the token to be valid, the current date/time must be less than or equal to the exp value. The time is represented as the number of seconds from January 1, 1970 (1970-01-01T0:0:0Z) UTC until the time the token was issued.">Expires</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="exp" class="form-control" disabled [value]="getDateString(token.exp)">
					</div>
				</div>
				<div class="row" *ngIf="token.ver">
					<div class="col-xs-3">
						<label for="ver" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Version. The version of the JWT token, typically 1.0.">Version</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="ver" class="form-control" disabled [value]="token.ver">
					</div>
				</div>
				<div class="row" *ngIf="token.tid">
					<div class="col-xs-3">
						<label for="tid" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Tenant identifier (ID) of the Azure AD tenant that issued the token.">Tenant Identifier</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="tid" class="form-control" disabled [value]="token.tid">
					</div>
				</div>
				<div class="row" *ngIf="token.amr">
					<div class="col-xs-3">
						<label for="amr" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="">Amr</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="amr" class="form-control" disabled [value]="token.amr">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="roles" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="">Roles</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="roles" class="form-control" disabled [value]="token.roles">
					</div>
				</div>
				<div class="row" *ngIf="token.oid">
					<div class="col-xs-3">
						<label for="oid" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Object identifier (ID) of the user object in Azure AD.">Object Identifier</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="oid" class="form-control" disabled [value]="token.oid">
					</div>
				</div>
				<div class="row" *ngIf="token.email">
					<div class="col-xs-3">
						<label for="upn" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Email Address">Email</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="upn" class="form-control" disabled [value]="token.email">
					</div>
				</div>
				<div class="row" *ngIf="token.upn">
					<div class="col-xs-3">
						<label for="upn" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="User principal name of the user.">User Principal Name</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="upn" class="form-control" disabled [value]="token.upn">
					</div>
				</div>
				<div class="row" *ngIf="token.unique_name">
					<div class="col-xs-3">
						<label for="unique_name" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="A unique identifier for that can be displayed to the user. This is usually a user principal name (UPN).">Unique Name</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="unique_name" class="form-control" disabled [value]="token.unique_name">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="sub" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Token subject identifier. This is a persistent and immutable identifier for the user that the token describes. Use this value in caching logic.">Subject Identifier</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="sub" class="form-control" disabled [value]="token.sub">
					</div>
				</div>
				<div class="row" *ngIf="token.family_name">
					<div class="col-xs-3">
						<label for="family_name" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="User’s last name or surname. The application can display this value.">Last Name</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="family_name" class="form-control" disabled [value]="token.family_name">
					</div>
				</div>
				<div class="row" *ngIf="token.given_name">
					<div class="col-xs-3">
						<label for="given_name" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="User’s first name. The application can display this value.">First Name</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="given_name" class="form-control" disabled [value]="token.given_name">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="nonce" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="">One Use Security Key</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="nonce" class="form-control" disabled [value]="token.nonce">
					</div>
				</div>
				<div class="row" *ngIf="token.pwd_exp">
					<div class="col-xs-3">
						<label for="pwd_exp" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="">Password Expires</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="pwd_exp" class="form-control" disabled [value]="token.pwd_exp">
					</div>
				</div>
				<div class="row" *ngIf="token.pwd_url">
					<div class="col-xs-3">
						<label for="pwd_url" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="">Password Change URL</label>
					</div>
					<div class="col-xs-9">
						<input type="text" name="pwd_url" class="form-control" disabled [value]="token.pwd_url">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label for="aud" class="control-label text-info" data-bind="tooltip: {trigger: 'hover click'}" title="Raw header options with token that can be cut and pasted into tools such as Postman or Fiddler to test secured API endpoints.">Headers</label>
					</div>
					<div class="col-xs-9">
						<textarea rows="20" class="form-control" disabled>{{'Content-Type: application/json\nAuthorization: Bearer ' + id_token}}</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<button class="btn btn-default" (click)="logout()"><i class="fa fa-lock"></i> Logout</button>
		<button class="btn btn-default" (click)="renew()"><i class="fa fa-cloud-download"></i> Renew</button>
	</div>
</div>
