<article>
    <h3>NPM Commands</h3>
    Node Package Manager (NPM) can also execute tasks but we should defer to Gulp whenever possible.  These commands can be run from the console by preceding them with the name “npm” (example: npm install)<br/>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead><tr class="success"><td>Command</td><td>Description</td></tr></thead>
            <tbody>
                <!--Need to add -> test, postinstall -->
                <!--Need to update -> start to discuss how it concurrently runs test -->
                <tr><td>install</td><td>Reads the “package.json” file, identifies all node packages required by the project, then pulls them down from the Internet and places them (including all dependencies) into the “node_modules” folder.  Packages are not added to version control, so this command should be run whenever the packages within “package.json” changes.  This command is idempotent so it is safe to run at any time and will not re-download packages that already exist and have not changed.</td></tr>
                <tr><td>postinstall</td><td>Installs or updates configured TypeScript definition files after all node modules have been installed or updated.</td></tr>
                <tr><td>start</td><td>Executes the Gulp “watch” to ensure all files are compiles and tested, then launches a lightweight Node server names BrowserSync that hosts the application and watches all CSS, JavaScript, and HTML files for changes.  If any TypeScript files change, the Gulp task will recompile and retest them.  The recompile to JavaScript is noticed by BrowserSync, and all connected browsers are automatically refreshed.  This command also launches the "test" command for Jasmine unit-test monitoring in a separate browser tab.  Connected browsers are refreshed when code changes are saved.  This is one of the most commonly used commands allowing for rapid development and testing.</td></tr>
                <tr><td>test</td><td>Launches Jamine unit testing URL separate from the application.</td></tr>
            </tbody>
        </table>
    </div>
</article>
