<article>
    <h3>NPM and NG Commands</h3>
	Angular CLI has several useful commands for creating and building applications.    These commands can be run from the console by preceding them with the name “ng” (example: ng new [myNewApp])<br/>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead><tr class="success"><td>Command</td><td>Description</td></tr></thead>
            <tbody>
                <!--Need to add -> test, postinstall -->
                <!--Need to update -> start to discuss how it concurrently runs test -->
                <tr><td>new</td><td>Creates a new project from a template that follow Angular best practices and styles.</td></tr>
                <tr><td>serve</td><td>Builds the application outputing it to memory only, then launching and watching the application for code changes, automatically re-compiling and refreshing the browser as needed.</td></tr>
                <tr><td>build</td><td>Builds the application following the options listed in angular.json or passed on the command line, based on the environment configuration passed in.  A default new project has a development environment (default), and a production environment.  Other envirnments like QA and staging, can be added to angular.json as needed.</td></tr>
                <tr><td>test</td><td>Builds the test configuration as defined in angular.json, and discovers and launches all 'spec' files reporting on the results of each test.</td></tr>
                <tr><td>lint</td><td>Analyses the source code and compared against rules defined in tslint.json reporting on any found issues.</td></tr>
                <tr><td>e2e</td><td>Runs all the end to end tests located in the e2e folder reporting on any found issues.</td></tr>
            </tbody>
        </table>
    </div>
    <br/>
    Node Package Manager (NPM) can also execute scripts defined in the package.json file but it is best to use the Angular commands whenever possible.  These commands can be run from the console by preceding them with the name “npm” (example: npm install)<br/>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead><tr class="success"><td>Command</td><td>Description</td></tr></thead>
            <tbody>
                <!--Need to add -> test, postinstall -->
                <!--Need to update -> start to discuss how it concurrently runs test -->
                <tr><td>install</td><td>Reads the “package.json” file, identifies all node packages required by the project, then pulls them down from the Internet and places them (including all dependencies) into the “node_modules” folder.  Packages are not added to version control, so this command should be run whenever the packages within “package.json” changes.  This command is idempotent so it is safe to run at any time and will not re-download packages that already exist and have not changed.</td></tr>
            </tbody>
        </table>
    </div>
</article>
