.panel-default > .panel-heading {
    background-color: #9bbdfa;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: lightsteelblue;
    font-weight: bold;
    -webkit-transition: 500ms all;
    transition: 500ms all;
}
tr.bold {
	font-weight: bold;
}